.searchBlock {
    display: flex;
    margin-bottom: 20px;
    font-size: 24px;
}

.searchLabel {
    margin-right: 10px;
}

.searchInput {
    margin-right: 5px;
    min-width: 300px;
}

.searchButton {
    padding: 0 15px;
    font-size: 18px;
}

.employeesTable {
    border-collapse: collapse;
    margin-bottom: 15px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    min-width: min-content;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover, th:hover {
    background-color: #ddd;
}

th:hover {
    cursor: pointer;
}

.paginationButton {
    background: 0;
    border: 2px solid #333;
    border-radius: 10%;
    font-size: 18px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-weight: bold;
}

.paginationButtonCurrent{
    background-color: dimgray;
    color: white;
}

.paginationButton:hover {
    background-color: dimgray;
    color: white;
    transition: 0.3s background-color;
}

